#friends-info {
    background-color: #fafafa;
    padding: 14px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#friends-info i {
    color: #d5d5d5;
    margin-right: 3px;
}
#friends-info a {
    font-size: 19px;
    font-weight: 550;
}
#friends-info span {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #d5d5d5;
}
.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    margin: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    box-sizing: border-box;
}
