@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}
.red_alam {
    border-radius: 50%;
    background-color: #ff6229;
}
.na__num_notification {
    display: flex;
    color: white;
    font-weight: 500;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 17px;
    left: 20px;
}
.nav .na__num_notification {
    animation: notificationAnimation 2s ease-in-out infinite;
}
